In [1]:
import torch 
from torch.utils.data import DataLoader, Dataset
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("Book1.csv")

In [3]:
df

     sepal.length  sepal.width  petal.length  petal.width    species
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [4]:
{key:val for key,val in enumerate(df['species'].unique())}

{0: 'Setosa', 1: 'Versicolor', 2: 'Virginica'}

In [37]:
class Iris1(Dataset):
    def __init__(self,target_col='species'):
        self.df = pd.read_csv("Book1.csv")
        x=self.df.drop(columns=target_col,axis=1).to_numpy()
        self.x=torch.from_numpy(x)
        
        replacement_dict = {'Setosa': 0, 'Versicolor': 1, 'Virginica': 2}
        y = self.df[target_col].replace(replacement_dict).to_numpy()
        self.y=torch.from_numpy(y)

    
    def __getitem__(self,index):
        return self.x[index],self.y[index]
        
    def __len__(self):
        return self.df.shape[0]

In [38]:
class Iris(Dataset):
    def __init__(self, target_col_name="species"):
        self.df = pd.read_csv("Book1.csv")
        x = self.df.drop(target_col_name, axis=1).to_numpy()
        self.x = torch.from_numpy(x)
        
        replacement_dict = {'Setosa': 0, 'Versicolor': 1, 'Virginica': 2}
        y = self.df[target_col_name].replace(replacement_dict).to_numpy()
        self.y = torch.from_numpy(y)

    def __getitem__(self, index):
        return self.x[index], self.y[index]

    def __len__(self):
        return self.df.shape[0]

In [39]:
iris=Iris1()

In [40]:
len(iris)

150

In [41]:
iris_data_loader=DataLoader(iris,shuffle=True,batch_size=8)

In [42]:
for data in iris_data_loader:
    x,y=data
    
    print(f"independent col data: {x}, \ntaget_col: {y}")
    break

independent col data: tensor([[6.3000, 3.3000, 6.0000, 2.5000],
        [6.3000, 3.3000, 4.7000, 1.6000],
        [5.1000, 3.8000, 1.9000, 0.4000],
        [7.7000, 3.8000, 6.7000, 2.2000],
        [5.9000, 3.0000, 5.1000, 1.8000],
        [6.4000, 2.9000, 4.3000, 1.3000],
        [6.7000, 3.0000, 5.0000, 1.7000],
        [6.0000, 2.2000, 5.0000, 1.5000]], dtype=torch.float64),
taget_col: tensor([2, 1, 0, 2, 2, 1, 1, 2])